/* contact */
.contact {
  background-color: var(--color-primary);
  border-top: 20px solid var(--color-darkest) ;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact .man-diving{
  position:absolute ;
  width: 400px;
  animation: bouncing 7.5s infinite;
}

.contact h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 23px;
}
.contact span {
  color: var(--color-secondary);
}
.contact .email {
  margin-top: 80px;
}
.contact .email p {
  font-size: 30px;
}
.contact .information{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -50px ;
}

.contact .Social-footer{
  flex-wrap: wrap;
}


/* Footer */
.footer {
  background-color: var(--color-darkest);
  color: var(--color-light);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

.footer span {
  font-weight: bold;
  color: var(--color-light);
}