.equipment {
    padding-top: var(--padding-primary);
    padding-bottom: var(--padding-primary);
    margin-top: var(--margin-primary);
}

@media (max-width: 992px) {
    .equipment .image-title {
        right: 300px;
    }
}

@media (max-width: 768px) {
    .equipment .image-title {
        right: 400px;
    }
}