.text {
    position: absolute;
    top: 400px;
    left: 50px;
    transform: translateY(-50%);
    width: 75%;
    padding: calc(var(--padding-primary)/2);
    color: var(--color-light);
    text-shadow: 5px 5px 5px var(--color-darkest);
}
@media (max-width: 992px) {
    .text{
        top: 300px;
    }
  }
@media (max-width: 768px) {
    .text{
        top: 250px;
    }
  }

.text .content p{
    font-size: 90px;
}
@media (max-width: 992px) {
    .text .content p{
      font-size:70px;
    }
  }
@media (max-width: 768px) {
    .text .content p{
      font-size:45px;
    }
  }