.gallery {
    margin: calc(var(--margin-primary)* 4);
}
.gallery .image {
    display: grid;
    grid-template-columns: 1fr 1fr;gap: 10px;
    margin-top: 60px;
}
.img-gallery{
    position: absolute;
    width: 300px;
}
.camera{
    position:absolute ;
    width: 200px;
    transform: translateY(-130px);
    right: 100px;
}